venv/
.venv/
backend/venv/

frontend/node_modules/

__pycache__/
*.pyc

*.pt

outputs/
uploads/

.env
backend/uploads/
backend/outputs/
backend/outputs/
backend/uploads/

backend/openh264-2.5.0-win64.dll

**/__pycache__/
*.pyc
*.dll